@model TechnicalAssessment.Models.HomeViewModels.HomeIndexModel

<div class="container body-content">
    <div class="row frontPageSplash">
        <div class="col-md-6 frontPageLearn">
            <div class="frontPageHeading">Learn, Collaborate, Share Knowledge</div>
            <p class="frontPageHeading">This is the world's fastest growing organisation</p>
            <div>
                <form asp-controller="Search" asp-action="Search" method="post">
                    <input asp-for="SearchQuery" type="text" class="homeSearch" placeholder="Search..."/>
                </form>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row frontPageContent">
        <h3 id="latestPeoplesInformation">Latest People's Information</h3>
        <table class="table table-hover" id="latestPeoplesInformationTable">


            <tbody>
                @foreach (var personalInformation in Model.LatestPeoplesInformation)
                {
                <tr>
                    <td>
                        <div class="organisationLogo" style="background-image:url(@personalInformation.ProfileImageUrl); background-size=100%"></div>
                    </td>

                    <td>
                        @personalInformation.FirstName
                    </td>

                    <td>
                        @personalInformation.LastName
                    </td>

                    <td>
                        @personalInformation.JoiningDate
                    </td>

                    <td>
                        <a asp-controller="PersonalInformation" asp-action="Branch" asp-route-id="@personalInformation.Id">
                            @personalInformation.Branch.BranchName
                        </a>
                    </td>

                    <td>
                        @personalInformation.Branch.Province
                    </td>

                </tr>
                }
            </tbody>



        </table>
    </div>
</div>

 