@model TechnicalAssessment.Models.HomeViewModels.HomeIndexModel

<div class="container body-content">
    <div class="row frontPageSplash">
        <div class="col-md-6 frontPageLearn">
            <div class="frontPageHeading">Learn, Collaborate, Share Knowledge</div>
            <p class="frontPageHeading">Latest Personal Information </p>
            <div>
                <form asp-controller="Search" asp-action="Search" method="post">
                    <input asp-for="SearchQuery" type="text" class="homeSearch" placeholder="Search..."/>
                </form>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row frontPageContent">

        <table class="table table-hover" id="latestPeoplesInformationTable">


            <tbody>
                @foreach (var personalInformation in Model.LatestPeoplesInformation)
                {
                <tr>
                    <td>
                        <div class="profileImageLogo" style="background-image:url(@personalInformation.ProfileImageUrl); "></div>
                    </td>

                    <td>
                        @personalInformation.FirstName
                    </td>

                    <td>
                        @personalInformation.LastName
                    </td>

                    <td>
                        @personalInformation.JoiningDate
                    </td>

                    <td>
                         @personalInformation.Branch.BranchName
                    </td>

                    <td>
                        @personalInformation.Branch.Province
                    </td>

                </tr>
                }
            </tbody>



        </table>
    </div>
</div>

 