@model TechnicalAssessment.Models.BranchInformationViewModels.BranchInformationViewModel

<h1>Branch Information</h1>

<span id="headingBtn">
    <a asp-controller="PersonalInformation"
       asp-action="Index"
       asp-route-id="@Model.Id">
        Back to Previous Page
    </a>
</span>

<table class="table table-hover" id="branchInformationIndexTable">
    <tbody>

        <tr>
            <td>
                @Model.BranchName
            </td>

            <td>
                @Model.BranchCode
            </td>

            <td>
                @Model.City
            </td>

            <td>
                @Model.Province
            </td>

        </tr>
    </tbody>
</table>
