@model TechnicalAssessment.Models.PersonalInformationViewModels.NewPersonalInformation

@{
    ViewData["Title"] = "Details";
}

<h4> Personal Information</h4>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlternativeContactNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlternativeContactNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MethodOfContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MethodOfContact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileImageUrl)
        </dt>
        <dd>
            <div class="profileImageLogo" style="background-image:url( @Html.DisplayFor(model => model.ProfileImageUrl)); "></div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JoiningDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JoiningDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BranchId)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
