@model TechnicalAssessment.Models.PersonalInformationViewModels.PersonalInformationIndexModel

<h1>People's Information</h1>

<table class="table table-hover" id="personalInformationIndexTable">
    <tbody>
        @foreach (var personalInformation in Model.PersonalInformationList)
        {
            <tr>
                <td>
                    @personalInformation.FirstName
                </td>

                <td>
                    @personalInformation.LastName
                </td>

                <td>
                    @personalInformation.ProfileImageUrl
                </td>

                <td>
                    @personalInformation.JoiningDate
                </td>

                <td>
                    @personalInformation.Branch.BranchName
                </td>

                <td>
                    @personalInformation.Branch.Province
                </td>

            </tr>
        }
    </tbody>
</table>