@model TechnicalAssessment.Models.PersonalInformationViewModels.PersonalInformationIndexModel

<h1>People's Information</h1>

<span id="headingBtn">
    <a asp-controller="PersonalInformation" 
           asp-action="Create" 
           asp-route-id="" class="btn btn-newPersonalInformation">
           Create Client's Personal Information
    </a>
</span>

<table class="table table-hover" id="personalInformationIndexTable">
    <tbody>
        @foreach (var personalInformation in Model.PersonalInformationList)
        {
        <tr>
            <td>
                <div class="profileImageLogo" style="background-image:url(@personalInformation.ProfileImageUrl); "></div>
            </td>

            <td>
                @personalInformation.FirstName
            </td>

            <td>
                @personalInformation.LastName
            </td>

            <td>
                @personalInformation.JoiningDate
            </td>

            <td>
                <a asp-controller="PersonalInformation" asp-action="Branch" asp-route-id="@personalInformation.Id">
                    @personalInformation.Branch.BranchName
                </a>
            </td>

            <td>
                @personalInformation.Branch.Province
            </td>

        </tr>
        }
    </tbody>
</table>