@model TechnicalAssessment.Data.Models.PersonalInformation

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PersonalInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlternativeContactNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlternativeContactNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MethodOfContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MethodOfContact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileImageUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileImageUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JoiningDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JoiningDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
